# Кэш Python (Блокируем ложные подсказки копайлота)
__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные логи и клонированные репозитории
logs/
cloned_repo/

# Временные файлы окружения и IDE
.env
.venv
venv/
.vscode/

# Секреты и переменные окружения
.vault_token
