# Секреты и токены экосистемы (КРИТИЧЕСКИ ВАЖНО)
.env
auth.json
infra/auth.json

# Кэш Python и Docker
__pycache__/
*.pyc
.pytest_cache/
.dockerignore

# Виртуальное окружение
venv/
.venv/

# Системные файлы Windows
Thumbs.db
Desktop.ini

# Документация
system_prompt.md

# Логи
logs/