# Секреты и токены экосистемы (КРИТИЧЕСКИ ВАЖНО)
.env

# Кэш Python и Docker
__pycache__/
*.pyc
.pytest_cache/
.dockerignore

# Виртуальное окружение
venv/
.venv/
sonar-project.properties
.github/
github/

# VS Code
.vscode/

tasks.db/
.tasks.db
tasks.db
